
.DeathHeader{
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 6px #000000;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: white;
}

#randomDeathGrid { 
  display: none;
  color: rgb(37, 37, 37);
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  min-height: 100px;
  width: 545px;
  padding: 30px;
  margin-top: -100px;
  margin-bottom: 4%;
  position: relative;
  border-radius: 35px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "deathInfo deathPicture";
  left: 50%;
  transform: translate(-50%, 0%);

}


.deathInfo {
    grid-area: deathInfo;
    margin-right: -20%;
     margin-left: 2%;

}

.deathName {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    
}

.deathNickname {
    font-weight: bold;
    text-align: center;    
}

.deathCause {
  font-weight: normal;
}

/* .deathResponsible {

}  */

.deathLastWords {
    font-weight: normal;
}

.deathPicture {
    grid-area: deathPicture;
    text-align: right;
     
}

.DeathBTN {
  display: inline-block;
  position: relative;
  color: white;
  font-variant: small-caps;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgba(54, 148, 87);
  text-shadow: 2px 2px 7px #000000;
  box-shadow: 2px 2px 7px #000000b7;
  height: auto;
  width: 280px;
  border-radius: 20px;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
  
}

.DeathBTN:hover {
  background-color: rgb(11, 87, 38);
  cursor: pointer;
}
.DeathBTN:active {
  background-color: rgb(11, 87, 38);
  cursor: pointer;
   vertical-align: top;
   padding: 8px 13px 6px;
}