
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  background-image: url("https://www.teahub.io/photos/full/72-721277_breaking-bad-4k-hd-desktop-wallpaper-for..jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  }

.Logo {
  color: white;
  text-shadow: 10px 10px 15px #000000cc;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-variant: small-caps;
  position: relative;
  text-align: center;
  padding-left: 0px;
  padding-top: 3.5%;
  font-size: 60px;
  
}

.RandomQuotes{
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding: 20px;
  padding-left: 30%;   
  padding-right: 30%;
  color: white;
  text-shadow: 10px 5px 15px #000000;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-variant: small-caps;
  font-style: italic;
  /* outline-style: solid;
  outline-width: 10px; */
}

.Quotes {
  text-align: left;
  font-size: 28px;
  
}

.QuoteAuthor{
  text-align: right;
  font-size: 25px;
  position: relative; 
}

.QuoteBtn {
  display: inline-block;
  position: absolute;
  color: white;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgba(54, 148, 87);
  text-shadow: 2px 2px 7px #000000;
  height: auto;
  width: 200px;
  border-radius: 20px;
  padding: 7px;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 2px 2px 7px #000000b7;
}

.QuoteBtn:hover {
  background-color: rgb(11, 87, 38);
  cursor: pointer;
}
.QuoteBtn:active {
  background-color: rgb(11, 87, 38);
  cursor: pointer;
   vertical-align: top;
   padding: 8px 13px 6px;
}

#TopBtn{
  position: fixed;
  top: 88%;  
  right: 1.6%;
  color: white;
  font-family: roboto;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgb(40, 122, 69);
  text-shadow: 2px 2px 7px #000000;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  padding-right: 5px;
  box-shadow: 2px 2px 7px #000000b7;
}
#TopBtn:hover {
  background-color: rgb(11, 87, 38);
  cursor: pointer;
}
#TopBtn:active {
  cursor: pointer;
   vertical-align: top;
   padding-top: 6px;
}

.searchField{
    position: relative;
    margin-top: 120px;
    
}

.inputField {
  position: relative;
  font-family: roboto ;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
  height: 30px;
  width: 27.5%;
  border-radius: 25px;
  box-shadow: 2px 2px 7px #000000b7;
  left: 50%;
  transform: translate(-50%, 0%);
}

.searchimg {
  height: 300px;
  width: 210px;
}

.List{
  text-align: center;
  padding-left: 0px;
}

.characterList{
  background-color: black;
  color: rgb(37, 37, 37);
  box-shadow: 5px 5px 20px #000000b7;
  font-family: roboto;
  font-size: 22px;
  font-weight: bold;
  width: 250px;
  min-height: 340px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 20px;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  
}


#BottomBtn{
  position: fixed;
  top: 18%;  
  right: 1.6%;
  color: white;
  font-family: roboto;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgb(40, 122, 69);
  text-shadow: 2px 2px 7px #000000;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  padding-right: 5px;
  box-shadow: 2px 2px 7px #000000b7;
}
#BottomBtn:hover {
  background-color: rgb(11, 87, 38);
  cursor: pointer;
}
#BottomBtn:active {
  cursor: pointer;
   vertical-align: top;
   padding-top: 6px;
}

